<% content_for(:title, "Edit Recipe | RecipeBlogger") %>

  <div class="row">

    <h3 class="recipe-header">Edit Recipe: <%= @recipe.name %></h3>

    <%= render('form', :object => { "action" => "edit" } ) %>

  </div>
