<% content_for(:title, "Edit Recipe | RecipeBlogger") %>

<div class="container">
  <div class="row">

    <h2>Editing Recipe</h2>

    <%= render('form', :object => { "action" => "edit" } ) %>

  </div>
</div>
