<% content_for(:title, "Add Recipe | RecipeBlogger") %>

<div class="container">
  <div class="row">

    <h3 class="recipe-header">Add a Recipe</h3>

    <%= render('form', :object => { "action" => "create" }) %>

  </div>
</div>
