<% content_for(:title, "Add Recipe | RecipeBlogger") %>

<div class="container">
  <div class="row">

    <h2>Add a Recipe</h2>

    <%= render('form', :object => { "action" => "create" }) %>

  </div>
</div>
